/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define default_layer 0
#define lower_layer 1
#define raise_layer 2
#define adjust_layer 3
#define extra_layer 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <90>;
            flavor = "balanced";
        };

        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_SHIFT_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
        };

        hm_shift_r: hm_shift_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_SHIFT_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <42 43 53 54>;
        };

        c1 {
            bindings = <&kp EXCLAMATION>;
            key-positions = <1 13>;
        };

        c2 {
            bindings = <&kp AT_SIGN>;
            key-positions = <2 14>;
        };

        c3 {
            bindings = <&kp POUND>;
            key-positions = <3 15>;
        };

        c4 {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
        };

        c5 {
            bindings = <&kp PERCENT>;
            key-positions = <17 5>;
        };

        c6 {
            bindings = <&kp CARET>;
            key-positions = <6 18>;
        };

        c7 {
            bindings = <&kp AMPERSAND>;
            key-positions = <7 19>;
        };

        c8 {
            bindings = <&kp ASTERISK>;
            key-positions = <8 20>;
        };

        c9 {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <9 21>;
        };

        c10 {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <10 22>;
        };

        c11 {
            bindings = <&kp EQUAL>;
            key-positions = <11 23>;
        };

        bth_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <50 51 52 53 54 55 56 57>;
        };

        game_mode {
            bindings = <&to 5>;
            key-positions = <53 54 49 36 50 57>;
        };
    };

    macros {
        clip_history: clip_history {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "CLIP_HISTORY";
        };

        vs_left_editor: vs_left_editor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp K>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "VS_LEFT_EDITOR";
        };

        vs_right_editor: vs_right_editor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp K>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "VS_RIGHT_EDITOR";
        };

        vs_fold: vs_fold {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LEFT_BRACKET>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>;

            label = "VS_FOLD";
        };

        vs_unfold: vs_unfold {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp RIGHT_BRACKET>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>;

            label = "VS_UNFOLD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC           &kp N1  &kp N2          &kp N3                    &kp N4              &kp N5                               &kp N6         &kp N7               &kp N8                     &kp N9           &kp N0    &kp MINUS
&kp TAB           &kp Q   &kp W           &kp E                     &kp R               &kp T                                &kp Y          &kp U                &kp I                      &kp O            &kp P     &kp NON_US_BACKSLASH
&kp LEFT_SHIFT    &kp A   &hm LEFT_ALT S  &hm_shift_l LEFT_SHIFT D  &hm LEFT_CONTROL F  &kp G                                &kp H          &hm RIGHT_CONTROL J  &hm_shift_r RIGHT_SHIFT K  &hm RIGHT_ALT L  &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X           &kp C                     &kp V               &kp B   &kp LBKT       &kp RBKT      &kp N          &kp M                &kp COMMA                  &kp DOT          &kp FSLH  &kp RSHFT
                                          &kp LALT                  &kp LGUI            &tog 4  &lt 1 SPACE    &lt 2 RETURN  &kp BACKSPACE  &kp RIGHT_ALT        &kp RGUI
            >;
        };

        nav_layer {
            display-name = "NAV";

            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans  &trans       &trans    &trans         &trans                     &none    &kp N7                      &kp N8                            &kp N9                  &none   &trans
&trans  &trans  &kp PAGE_UP  &kp UP    &kp PAGE_DOWN  &trans                     &none    &kp N4                      &kp N5                            &kp N6                  &none   &trans
&trans  &trans  &kp LEFT     &kp DOWN  &kp RIGHT      &trans                     &none    &hm RIGHT_CONTROL NUMBER_1  &hm_shift_r RIGHT_SHIFT NUMBER_2  &hm RIGHT_ALT NUMBER_3  &none   &trans
&trans  &trans  &trans       &trans    &kp HOME       &kp END  &trans    &trans  &trans   &none                       &kp N0                            &none                   &trans  &trans
                             &trans    &trans         &trans   &trans    &trans  &kp DEL  &trans                      &trans
            >;
        };

        symbol {
            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&trans     &none   &none   &none   &none   &none                     &none   &none   &none   &none   &none    &kp F12
&trans     &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans   &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans   &trans
                           &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;

            label = "SYM";
        };

        system {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3       &bt BT_SEL 4                            &studio_unlock  &trans           &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans             &trans                                  &trans          &trans           &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &kp C_VOLUME_DOWN  &trans                                  &trans          &kp C_VOLUME_UP  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans             &trans        &bt BT_PRV    &bt BT_NXT  &trans          &trans           &trans  &trans  &trans  &trans
                                    &trans        &trans             &trans        &trans        &trans      &trans          &trans           &trans
            >;

            label = "SYS";
        };

        hot_key {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans                                           &trans         &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans                                           &trans         &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans                                           &trans         &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &vs_fold  &vs_unfold  &vs_left_editor    &vs_right_editor  &trans         &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans      &trans             &trans            &clip_history  &trans  &trans
            >;

            label = "HOTKY";
        };

        layer_5 {
            bindings = <
&kp N1     &kp N2  &kp N3  &kp N4   &kp N5  &kp N6                            &trans  &trans  &trans  &trans  &trans  &trans
&kp TAB    &kp Q   &kp W   &kp E    &kp R   &kp T                             &trans  &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &kp A   &kp S   &kp D    &kp F   &kp G                             &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &kp Z   &kp X   &kp C    &kp V   &kp B   &kp SPACE         &to 0   &trans  &trans  &trans  &trans  &trans  &trans
                           &kp ESC  &none   &none   &kp LEFT_SHIFT    &trans  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        sys {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
